<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
    <title>ToDo-list</title>
    <link rel="shortcut icon" href="">
    <link href="css/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
 <script type="text/template" id="wrapper-template">
        <div class="wrapper">
            <div class="todolist">To-Do List</div>
            <ul class="item-list"></ul>
            <div class="controlls">
                <input type="text" class="item-value" />
                <button class="item-add">Add</button>
            </div>
        </div>
    </script> 
    
    <script type="text/template" id="list-template">
        <% for (var i = 0; i < data.length; i++) { %>
        <li>
            <span class="item-show"><%= data[i] %></span>
            <input type="text" id="<%= i %>" value="<%= data[i] %>" class="item-edit" data-value="<%= data[i] %>" style="display: none" />
            <span data-value="<%= data[i] %>"  class="item-delete">x</span>
    
       </li>
    <% }; %>
    </script>

<script data-main="js/app" src="js/require.js"></script>
</body>
</html>